* {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
*:focus {
    outline: none;
}
/*____________________NAVBAR_____________________*/

#guitar_logo {
    max-width: 300px;
    float: left;
    margin: 10px;
    margin-left: -30px;
}
nav {
    float: right;
    align-items: center;
  }

.nav_parent {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: white;
}
.nav {
    width: 90%;
    margin: auto;

}

.nav_logo {
    float: left;
    cursor: pointer;
    margin-top: 0.5em;
    color: #c91a00;
    font-size: 30px;
    font-weight: bold;
    
   
}
.nav_logo a {
    color: #c91a00;
}



.nav_options {
    margin-top: 15%;
    display: inline-block;
    position: relative;
}

.nav_options li {
    display: inline-block;
    padding: 0 5px;
}

.nav_options li a {
    color: #c91a00;
    font-weight: normal;
}

.nav_options li a:hover, .nav_options .nav_button_current a {
    color:#c91b008a;;
  }
.nav_button {
    cursor: pointer;
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #c91a00;
    border: 2px solid white;
    display: inline-block;
    border-radius: 2em;
    font-size: 20px;
}


.nav_button:hover {
    background-color: #c91a00;
    border: 2px solid #c91a00;
    color: white; 
}

#cart_badge {  
    position: absolute;
    top: -15px;
    right: -25x;
    padding: 5px 10px;
    border-radius: 100%;
    background: #c91a00;
    color: white;
    font-size: 10px;
    
    
}
/*____________________BODY_____________________*/


.video_container {
    display: flex;
    justify-content: center;
    

}
.body_explore_image_row video {
    width: 480px;
    height: 270px;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
    z-index: 1;
    
}


video:hover {
    opacity: 1;
}

body { 
    margin: auto;
    text-align: center;
    align-items:center;
    background-color: rgb(231, 231, 231);
    
  
}

.body_0000{
    margin: auto;
    text-align: center;
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    
  
}

#body-question {
    color:white;
    margin-top: 0.7em;
    font-size: 25px;
    padding:0;
    font-weight: bold;

}




#video_hero {
    position: relative;
    width: 100%;
    height:70%;
    opacity: 0.8;
    max-height: 700px;
    object-fit:cover;
   
}


.body_00_2 {
    
    min-width: 440px;
    min-height: 271px;
    position: absolute;
    /*background-color: rgb(255, 255, 255);*/
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.scroll_down {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12em;
    position: absolute;
    align-self: center;
    align-items: center;
    z-index: 3; 
}

.pointer {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 12em;
    position: absolute;
    align-self: center;
    align-items: center;
    z-index: 3;
    
}

#body_01 {
    display:block;
}


.body_01_image_row {
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

#body_03 {
    display:none;
    margin-top: 2em;

}

#body_text_yourSearch {
    display: none;
}

.separator_container {
    background-color:white;
    padding: 2em;
}
.body_separator {
    font-size: 25px;
    color: rgb(87, 87, 87);
    

}

.body_image:hover {
    opacity: 0.8;
    cursor: pointer;
}


.body-button {
    color: white;
    background-color: #c91a00;
    font-size: 20px;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 2em;
    border: 2px solid #c91a00;
    cursor: pointer;
    font-weight: bolder;
    
}

.body-button:hover {
    background-color: white;
    border: 2px solid #c91a00;
    color: #c91a00;

}

.body-input {
    padding: 1em;
    border-radius: 2em;
    font-size: 12px;
} 
#search_bar {
    text-align: center;
    color: black;
    background-color: #ffffff;
    font-size: 20px;
    margin: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 2em;
    
    border: 1px solid white;
    cursor: pointer;
    
}

#search_bar:hover {
    background-color:white;
    

}

.divider {
    
    padding: 5em;
    margin:auto;
   

}


.divider-child .lip{
    
    margin: 0.5em;

}
.proof {
    display: flex;
    padding: 2em;
    justify-content: center;
    color: rgb(87, 87, 87);
    margin:auto;
    background-color:white;
    
}

.proof_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    
}

.proof_icon {
    max-width: 100px;
    opacity: 0.7;
}
/*____________________/EXPLORE_____________________*/

.body_explore_image_row {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    
}
.body_explore_0000 {
    margin-top: 8em;
}

.body_explore_00_01 {
    padding: 2em;
    font-size: 20px;
}
/*____________________/CART_____________________*/



.cart_added {
    display:none;
    font-size: 50px;
    position: absolute;
    z-index: 2;
    margin: auto;
    text-align: center;
    align-self: center;
    color: white;

}
.body_cart_container{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-wrap: wrap;
}


.body_cart {
    background-color: blue;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
#body_cart_empty {
    align-self: center;
    width: 270px;
    background-color: white;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    border: 0.5px solid rgb(231, 231, 231);
    display:flex;
    justify-content: center;
    align-items: center;
    
     
}


.body_cart_row {
    padding: 3em;
    background-color: white;
    border: 0.5px solid rgb(231, 231, 231);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}


.body_cart_remove_button {
    color: white;
    background-color: #c91a00;
    font-size: 10px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    border: 2px solid #c91a00;
    cursor: pointer;
}

.body_cart_remove_button:hover {
    color: #c91a00;
    background-color: white;
    border: 2px solid #c91a00;
  
}

.body_cart_total {
    
    padding: 2em;
    align-self: center;
    margin: auto;
    background-color: rgb(206, 206, 206);
  
}

.body_cart_column_price {
    padding: 2em;
}

.body_cart_total_column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5em;
}


/*____________________FOOTER_____________________*/

footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: static;
    margin: auto;
    padding-top: 2em;
  }
  

/*  @media only screen and (max-width: 800px) { 
    .html { display: none; }

    
}

*/
